html {
	height: 100%;
    overflow: hidden;
	font-family: "Baroque";
	  background: url(/images/bg.png) no-repeat center center fixed; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
}

input#regPass,#vPass,#regName,#emailAddr {
	display: block;
}

.outer {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  /*whatever width you want*/
}

#loginHead {
	font-family: "Baroque";
	font-size: 40;
}

#loginText {
	font-family: "Minecraftia";
}

#submitButton {
	font-family: "Minecraftia";
}

#loginBox {

	margin-left: auto;
  	margin-right: auto;
  	width: 50%;
  	height: 40%;

  	font-size: 12;
  	font-family: "Minecraftia";
  	text-align:center;

	padding: 6px; background-color: rgba(50, 63, 113, 0.9);
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border: 2px solid #4C331A;
	border-radius: 8px;
	background-image: url("/images/old_map.png");
}

#continueBox {
	padding: 8px; width: auto; position: fixed; left: 40px; background-color: rgba(50, 63, 113, 0.9);
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border: 2px solid #4C331A;
	border-radius: 8px;
	background-image: url("/images/old_map.png");
}

#registerBox {
	padding: 3px; text-align: top; width: auto; position: absolute; right: 40px; top: 160px; background-color: rgba(50, 63, 113, 0.9);
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border: 2px solid #4C331A;
	border-radius: 4px;
	background-image: url("/images/old_map.png");
	border-radius: 15px 50px;
}

#updateBox {
	padding: 3px; text-align: top; width: 500px; height: 400px; position: fixed; left: 40px; top: 200px; background-color: rgba(50, 63, 113, 0.9);
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border: 3px solid #4C331A;
	border-radius: 4px;
	background-image: url("/images/old_map.png");
	border-radius: 15px 50px;
}

#registerTable {
	padding: 0px;
}

#wrapper {
  font-size: 14px;

  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

#dob {
	vertical-align: -10px;
}